{% extends 'body.html' %}
{% block footer %}

<!-- Site footer -->
<!-- footer -->
<footer class="p-5 bg-dark text-white  position-relative">
  <div class="container">
    <div class="row g-2">
      <div class="col-md">
        <h6>Categories</h6>
        <ul style="list-style: none; text-decoration: none;">
          <li><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>

        </ul>
      </div>

      <div class="col-md">
        <h6>Quick Links</h6>
        <ul style="list-style: none;">
          <li><a href="">About Us</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Contribute</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Sitemap</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="container text-center">
    <p class="lead">Copyright &copy; 2021 Teamkunal</p>
    <a href="#" class="position-absolute bottom-0 end-0 p-5">
      <i class="bi bi-arrow-up-circle h1"></i>
    </a>
  </div>
  <div class="text-center ">
    <ul style="list-style: none;">

      <li class="text-decoration-none"><a  href="#"></i><i class="bi bi-facebook text-light mx-1"></i></a></li>
      <li class="text-decoration-none"><a href="#"><i class="bi bi-twitter text-light mx-1"></i></a></li>
      <li class="text-decoration-none"><a  href="#"><i class="bi bi-whatsapp text-light mx-1"></i></i></a></li>
      <li class="text-decoration-none"><a  href="#"><i class="bi bi-linkedin text-light mx-1"></i></i></a></li>
    </ul>
  </div>
</footer>

{% endblock %}